@import './assets/rpgui.css';

body {
  background: #000
}

$base-margin: 8px;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .heading-container {
    flex-grow: 1;

    h1 {
      font-size: 250%
    }

    h2 {
      font-size: 200%;
      text-transform: capitalize;
    }

    .selected-character {
      width: 66%;
      margin: $base-margin auto;
      padding:$base-margin;
    }
  }

  .header-skelly {
    display: inline-block; 
    width: 160px;
    height: 150px;
  }
    
  .right {
    transform: scaleX(-1); 
  }

  hr.golden {
    width: 70%;
    margin-bottom: $base-margin*2;
  }
}

.side-bar {
  min-width: fit-content;

  .add-character-button {
    padding-left: 45px;
    padding-right: 45px;
  }

  .cancel-button {
    margin-left: 20px;
  } 

  .individual-character-container-inner {
    display: flex;
    align-items: center;
    margin-bottom: $base-margin/2;
    
    .character-name {
      width: 100%;
      display: flex;
      align-items: flex-end;
      height: 25px;

      .rpgui-icon.sword {
        height: 25px;
        width: 25px
      }
    }
    
    .small-button {
      min-width: 38px;
      height: 30px;
      padding: 0;
      margin-bottom: 0;
    }
  }
}

.main-container {
  display: flex;

  .kills-summary-container {
    width: 100%;
    
    .kill-summary {
      margin: $base-margin 0;
      display: flex;
      align-items: center;

      .kill-summary-info {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 $base-margin*2;

        div {
          flex-grow: 1;
          width: 33%;
          // overflow: hidden;
          // text-overflow: ellipsis; 
        }
      }

      .monster-image-container {
        padding: 0;
        background: #FFF;
        border-radius: 20px;

        canvas {
          width: 250px;
          height: 275px;
          // object-fit: contain;
          border: 10px #FFF solid;
        }
      }
    }
  }
}
