@import './assets/rpgui.css';

/**
 * Sets a media query for the specified breakpoint
 *
 * Accepts:
 * - $media-query: {String} Breakpoint variable (list found in variables.scss)
 *
 * Usage:
 * .selector {
 *   @include media-query($medium-up) {
 *     color: red;
 *   }
 * }

 // .minicart-top {
//   margin-bottom: 10px;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   @include media-query($medium-large) {
//     margin-bottom: 20px;
//   }
// }

 */
 @mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }
}

$base-margin: 8px;

//Media queries
$small-breakpoint: 560px;
$small: 'small';
$medium-breakpoint: 768px;
$medium: 'medium';
$medium-large-breakpoint: 960px;
$medium-large: 'medium-large';
$large-breakpoint: 1024px;
$large: 'large';

body {
  background: #000
}

$breakpoints: (
  $medium '(min-width: #{$medium-breakpoint - 1})',
  $medium-large '(min-width: #{$medium-large-breakpoint - 1})',
  $large '(min-width: #{$large-breakpoint - 1})',
  $small '(min-width: #{$small-breakpoint - 1})'
);

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.small-button {
  min-width: 38px;
  height: 30px;
  padding: 0;
  margin-bottom: 0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-query($medium-large) {
    flex-direction: row;
  }

  .top-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hamburger {
      width: 45px;
      height: auto;
  
      @include media-query($medium-large) {
        display: none;
      }
    }
  
    .evil-wizard-container {
      display: none;
    
      @include media-query($small) {
        display: block;
        min-width: 420px;
      }
    }
  }


  .heading-container {
    margin: 0 auto; 

    h1 {
      font-size: 200%;
      line-height: 1.4;
      
      @include media-query($medium) {
        font-size: 250%
      }
    }
    
    h3 {
      line-height: 1.4;
      @include media-query($medium) {
        font-size: 125%;
      }
    }
  }

  .header-image {
    display: inline-block; 
    width: 110px;
    height: auto;
  }

  .speech {
    width: 304px;
  }
    
  .right {
    transform: scaleX(-1); 
  }

  hr.golden {
    width: 70%;
    margin-bottom: $base-margin*2;
  }
}

.auth-container {
  margin: $base-margin*10 auto;

}

.side-bar-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 90; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

  @include media-query($medium-large) {
    display: none;
  }
}

.side-bar {
  display: none; 
  width: 100%;
  position: fixed;
  top: 100px;
  z-index: 100;
  left: 0;
  
  @include media-query($medium-large) {
    width: fit-content;
    display: block;
    position: static;
    min-width: fit-content;
  }


  .add-character-button {
    padding-left: 45px;
    padding-right: 45px;
  }

  .cancel-button {
    margin-left: 20px;
  } 

  .individual-character-container-inner {
    display: flex;
    align-items: center;
    margin-bottom: $base-margin/2;
    
    .character-name {
      width: 100%;
      display: flex;
      align-items: flex-end;
      height: 25px;

      .rpgui-icon.sword {
        height: 25px;
        width: 25px
      }
    }
  }
}

.main-container {
  display: flex;
  position: relative;

  .selected-character {
    margin: $base-margin auto $base-margin*2;
    display: flex;
    align-items: center;

    img {
      width: 75px;
      height: auto;
      margin: 0 $base-margin*4
    }

    h2 {
      text-align: left;
      font-size: 168%;
    }

    .selected-character-inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .kills-summary-container {
    width: 100%;
    
    .kill-summary {
      margin: $base-margin 0;
      display: flex;
      align-items: center;

      .kill-summary-info {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 $base-margin*2;

        div {
          flex-grow: 1;
          width: 33%;
        }
      }

      .monster-image-container {
        padding: 0;
        background: #FFF;
        border-radius: 20px;

        img {
          width: 200px;
          height: 210px;
          object-fit: contain;
          border: 10px #FFF solid;
        }
      }
    }
  }

  .kill-container {
    .close-kills-button-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .kill-monster-info {
      display: flex;
      justify-content: space-between;

      .monster-image-container {
        padding: 0;
        background: #FFF;
        border-radius: 20px;
        margin-right: $base-margin*2;

        img {
          width: 250px;
          height: 275px;
          object-fit: contain;
          border: 10px #FFF solid;
        }
      }
    }
  }
  
  .individual-kill-container {

    .description-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      textarea {
        height: 200px;
      }
    }

    .button-container-outer {
      margin: 0 0 $base-margin $base-margin;

      .button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .confirm {
        margin-bottom: 0;
      }
      .cancel {
        text-align: center;
      }
    }
  }

  .add-kill {
    .close-kills-button-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .individual-monster {
    margin-bottom: $base-margin*3;

    .individual-monster-inner {
      display: flex;
    }

    .monster-image-container {
      padding: 0;
      background: #FFF;
      border-radius: 20px;
      margin-right: $base-margin*2;

      img {
        width: 200px;
        height: 210px;
        object-fit: contain;
        border: 10px #FFF solid;
      }
    }

    .contents-container {
      width: 100%;

      textarea {
        height: 183px;
        border: #FFF solid 2px;
      }
      
      .buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          margin: 0 10px 0 10px;
        }
      }
    }
  }
}
